<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuiClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="myNetTcpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
        <endpoint address="net.tcp://localhost/Chat" binding="netTcpBinding"
                  bindingConfiguration="myNetTcpBinding" contract="ChatLibrary.IServer"
                  name ="MyChatNetTcpEndpoint"/>
    </client>
  </system.serviceModel>

  <userSettings>
        <GuiClient.Properties.Settings>
            <setting name="FontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </GuiClient.Properties.Settings>
    </userSettings>
</configuration>