<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="myNetTcpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="ChatLibrary.ServerService">
                <endpoint address="net.tcp://localhost/Chat" binding="netTcpBinding"
                    bindingConfiguration="myNetTcpBinding" contract="ChatLibrary.IServer" />
            </service>
        </services>
    </system.serviceModel>
</configuration>